 a.anchor:link {
    color: white;
    background-color: black;
}
a.anchor:visited {
    color: green;
    background-color: orange;
}
a.anchor:active {
    border: 3px solid red;
}
a.anchor:hover {
    font-size: 24px;
}
button.some-button:active {
    border: 3px solid red;
}
button.some-button:disabled {
    border: 2px dashed grey;
}
button.some-button:hover:enabled {
    color: white;
    background-color: grey;
}
input.search:focus {
    background-color: orange;
}
input.confirm-checkbox:checked {
    margin-left: 20px;
}
